/*-----------------
Fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*-----------------
Global Css
-------------------*/
:root{
  --Soft-Black: #000000;
  --Soft-White: #fff;
  --Soft-Grey: #ddd;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

*::selection{
    background: var(--Soft-Black);
    color: var(--Soft-White);
}

/*-----------------
App
-------------------*/
.containerInput .form-control {
    width: 50%;
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    padding: 5px;
    font-size: 18px;
    opacity: 0.7;
    border:1px solid var(--Soft-Grey);
    border-radius:4px;
}